# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# OS files
.DS_Store

# Logs and temp files
*.log
*.tmp

# Environment files
.env